$project-slider__navigation--color: #f0f0f0;


.project-slider {
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: center;

	@media screen and (min-width: $screen-small-up) {
		justify-content: flex-end;
	}
}

.project-slider__items {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	height: 100%;
	width: 100vw;
	overflow: hidden;
}

.project-slider__navigation,
.project-slider__navigation__item {
	list-style: none;
	padding: 0;
	margin: 0;
}

.project-slider__navigation {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 10rem;
	height: 5rem;
	z-index: 2;
}

.project-slider__navigation__item {
	background: $project-slider__navigation--color;
	height: 5rem;
	width: 5rem;
}

.project-slider__navigation__link {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}


.project-slide {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	height: 100%;
	width: 100%;

	@media screen and (min-width: $screen-small-up) {
		justify-content: center;
	}


	&__text {
		position: relative;
		display: flex;
		flex: 0 0 50%;
		width: 50%;
		align-items: center;
		background: rgba(#FFF, 1);
		height: 100%;
		z-index: 2;

		@media screen and (orientation: landscape) {
			align-items: flex-end;
			padding-bottom: 20vh;
		}

		@media screen and (min-width: $screen-small-up) {
			flex: 1 1 $project-slide__text--width;
			align-items: center;
			padding-bottom: 0;
		}

		&__inner {
			padding: 0 gutter();


			@media screen and (min-width: $screen-small-up) {
				padding-right: 4*gutter();
			}
		}
	}

	&__title {
		@media screen and (orientation: landscape) {
			font-size: 200%;
		}

		@media screen and (min-width: $screen-small-up) {
			font-size: $typography-fontsize-h1;
		}
	}

	&__figure {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		flex: 1 1 100%;
		height: 100%;
		z-index: 1;

		background: #c4c4c4;

		@media screen and (min-width: $screen-small-up) {
			flex: 1 1 #{100% - $project-slide__text--width};
			height: calc(100% - #{$project-slider__promotion--height});
			position: relative;
			top: auto;
			left: auto;
			right: auto;
			bottom: auto;
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0;
		padding: 0;
	}
}

.project-slide__description,
.project-slide__actions {
	margin-top: 2.9rem;

	@media screen and (orientation: landscape) {
		margin-top: 1rem;
	}

	@media screen and (min-width: $screen-small-up) {
		margin-top: 2.9rem;
	}
}

.project-slide__description {
	display: none;

	@media screen and (min-width: $screen-small-up) {
		display: block;
	}

	@media screen and (orientation: landscape) and (max-width: $screen-large) {
		display: none;
	}
}


.project-slider__metas {
	display: none;

	@media screen and (min-width: $screen-small-up) {
		display: block;
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
		z-index: 2;
	}
}

.project-slider__meta {
	background: black;
	width: 35vw;
	height: 40vh;
}

.project-slider__promotion {
	background: #C3E8E6;
	width: 30vw;
	height: $project-slider__promotion--height;
}

.project-slider__promotion__link {
	display: block;
	position: relative;
	height: 100%;
	width: 100%;
	text-align: left;

	span {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate3d(-50%, -50%, 0);
	}
}
